.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 28px 39px;
    position: absolute;
    width: 220px;
    height: 252px;
    left: 0px;
    top: 150px;
    background: #FFFFFF;
    box-shadow:  0 1px 6px rgb(31 31 31 / 12%), 0 1px 4px rgb(31 31 31 / 12%);
    border-radius: 10px;
}

.item:hover{
background-color: #d6f1f5;
}

.item > :nth-child(1){
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 10px;

/* position: static; */
position: absolute;
left: 36.96%;
/* right: 36.96%; */
top: 11%;

/* bottom: 81.35%; */

/* SECONDARY/Tomato red */

background: #E95952;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 4px 0px;
}

.item> :nth-child(2){
    /* position: static; */
    position: absolute;
left: 29.47%;
/* right: 29.47%; */
/* top: 20.24%; */
top: 25.24%;
/* bottom: 67.86%; */

/* H4 */

font-family: Urbanist;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

/* PRIMARY/Polish dark */

color: #394752;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 4px 0px;
}


.item > :nth-child(3){
    position: absolute;
/* left: 19.32%; */
/* right: 19.32%; */
/* top: 33.73%; */
/* bottom: 50.4%; */

/* H2/BOLD */

/* font-family: Urbanist; */
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

/* PRIMARY/Polish dark */

color: #394752;


/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 4px 0px;
    
}
.item > :nth-child(4){
    /* position: static; */
    position: absolute;
left: 19.81%;
right: 19.81%;
/* top: 51.19%; */
top: 60.19%;
/* bottom: 25%; */

/* SUBTITLE/LIGHT */

/* font-family: Urbanist; */
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* or 125% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

/* EXTENSDED PALETTE/Tiny grey */

color: #909090;


/* Inside Auto Layout */

flex: none;
order: 3;
flex-grow: 0;
margin: 4px 0px;

}
/* .item > :nth-child(5){ */
.nor{


/*  ************* */
/* position: static; */
position: absolute;
/* width: 97px; */
/* height: 15px; */
height: 35px;
/* left: 50px; */
left: 30px;
/* top: 220px; */
top: 200px;
padding: 15px 10px;
width: 130px;
border-radius: 5px;
cursor: pointer;

/* SUBTITLE/BOLD */

/* font-family: Urbanist; */
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

border: 1px solid #5CBE81;

/* PRIMARY/Academy green */

color: #5CBE81;
/* color: #FFFFFF; */
/* background: #5CBE81; */


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

/* .item > :nth-child(5):hover{ */
.nor:hover{
    color: #8ddbab;

}




/* .main > :nth-child(1){ */


/* position: absolute; */
/* left: 11.18%; */
/* left: 25.18%; */
/* left: 50.18%; */
/* margin-left: 500px; */
/* right: 11.08%; */
/* top: -50px; */
/* width: 1200px; */
/* bottom: 87.08%; */

/* H1 */

/* font-family: Urbanist;
font-style: normal;
font-weight: 900;
font-size: 56px;
line-height: 70px; */
/* identical to box height, or 125% */

/* display: flex;
align-items: center;
letter-spacing: 0.02em; */

/* PRIMARY/Polish dark */

/* color: #394752; */
    
/* } */

.heading{
position: absolute;
top: -50px;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 70px;
margin-left: 250px;
width: 1100px;
align-items: center;
letter-spacing: 0.02em; 
color: #394752;
}
.main > {
    margin-left: 200px;
}

.main > div{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 28px 39px;

position: absolute;
width: 207px;
height: 252px;
left: 494px;
top: 150px;


/* PRIMARY/Pearl white */

}

.main{
    position: absolute;
    top: 5600px;
    margin-left: 80px;
    /* overflow-x: hidden; */
    bottom: 40px;
}

.first{
    margin-top: -200px;
    margin-left: -370px;
}
.sec{
    margin-top: -200px;
    margin-left: -120px  ;
}
.third{
    margin-top: -200px;
    margin-left: 130px;
}

.fourth{
    margin-top: -200px;
    margin-left: 380px;
    /* background: #5CBE81; */
}

.lastBtn{
    position: absolute;
/* width: 97px; */
/* height: 15px; */
height: 35px;
/* left: 50px; */
left: 30px;
/* top: 220px; */
top: 200px;
padding: 15px 10px;
width: 130px;
border-radius: 5px;
cursor: pointer;

/* SUBTITLE/BOLD */

/* font-family: Urbanist; */
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

border: 1px solid #5CBE81;

/* PRIMARY/Academy green */

color: #5CBE81;


flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


    background: #5CBE81;
    color: #FFFFFF;
}

.lastBtn:hover{
    background-color: rgb(83, 83, 219);
}
