.lmain {
  height: 450px;
  width: 1232px;
  left: 204px;
  margin-left: 75px;
  overflow-y: hidden;
  top: 1398px;
  border-radius: 15px;
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}
.cont2 {
  height: 440px;
  width: 616px;
  margin-top: 15px;
  justify-content: center;
}
.cont {
  margin-top: 15px;
  /* background-color: black; */
  height: 380px;
  width: 616px;
  place-content: center;
  text-align: center;
  justify-content: center;
}
.redlabel {
  margin-left: 100px;
  margin-top: 65px;
  height: 30px;
  width: 60px;
  border-radius: 4px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 0px;
  background-color: #e95952;
  border-radius: 4px;
  color: #fff;
}
.live {
  margin-left: 100px;
  padding-top: 20px;
  margin-top: 20px;
  /* left: 100px;  */
  /* top: 107px; */
  border-radius: nullpx;
  /* //styleName: H1; */
  /* font-family: Urbanist; */
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #394752;
  position: absolute;
  /* background-color: blueviolet; */
}
.text {
  margin-left: 100px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #394752;
  margin-top: 150px;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  letter-spacing: 0.02em;
}
.seeall {
  text-align: start;
  margin-left: 100px;
  padding-top: 10px;
  font-family: Urbanist;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-top: 46px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #5cbe81;
}

.fmain {
  display: flex;
  height: 112px;
  left: 400px;
  top: -48px;
  border-radius: 8px;
  padding: 16px;
  justify-content: center;
  place-content: center;
  background: #FFFFFF;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-right: 170px;
}
.imgwala {
  height: 80px;
  width: 141px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.title {
  /* position: absolute; */
  width: 213px;
  height: 15px;

  padding-left: 10px;

  /* SUBTITLE/BOLD */

  font-family: Urbanist;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  /* display: flex; */
  align-items: center;
  letter-spacing: 0.02em;

  /* PRIMARY/Polish dark */

  color: #394752;
}
.time {
  width: 117px;
  height: 15px;
  left: 0px;
  top: 23px;
  padding-left: 10px;

  /* SUBTITLE/LIGHT */

  font-family: Urbanist;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  /* EXTENSDED PALETTE/Tiny grey */

  color: #909090;
}
.name {
  width: 76px;
  height: 15px;
  left: 0px;
  bottom: 2px;
  padding-left: 10px;
  padding-top: 30px;

  /* SUBTITLE/LIGHT */

  font-family: Urbanist;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  /* PRIMARY/Polish dark */

  color: #394752;
}
