.landing1_container{
    position: relative;
    overflow-x: hidden;
}

.bkg_img_lpg1{
    height: 969px;
    width: 100%;
}

.ldpg_content{
    position: absolute;
    width: 500px;
    color: #394752;
    left: 104px;
    top: 218px;
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
}

.prepare_container{
    position: absolute;
    /* width: 600px; */
    height: 402px;
    left: 90px;
    top: 478px;
    display: grid;
    grid-template-columns: 540px 540px 20px ;
    gap: 50px;
}

.prepare_container>.call_icon{
    margin-top: 165px;
}