
.loginMob1_title{
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #394752;
    margin-top:21px;
    margin-bottom:16px;
}
.loginMob1_create_account{
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #5CBE81;
}

.loginMob1_create_account>button{
    border: 0px;
    background-color: white;
    color: #5CBE81;
}

.loginMob1_create_account>span:nth-child(1){
    font-weight: normal;
    color: #394752;
    margin-right: 16px;
}

.loginMob1_create_account>button:hover{
    color: #98c5a9;
}

.loginMob1_login_btn{
    width: 85px;
    height: 37px;
    background-color: #5CBE81;
    border: 0px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

.loginMob1_login_btn:hover{
    background-color: rgb(61, 61, 211);
}

.loginMob1_input_text{
    border: 0px;
    outline: none;
    padding-left: 30px;
}

.loginMob1_btn{
    display: flex;
    justify-content: space-between
}

.loginMob1_email_btn{
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #5CBE81,inset -1px 0px 0px #5CBE81, inset 0px 1px 1px #5CBE81, inset 1px 0px 0px #5CBE81;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    font-weight: 700;
    height: 31px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 15px;
    border:0px;
    color: #5CBE81;
    letter-spacing: 0.02em;
}

.loginMob1_email_btn:hover{
    color: #9dc9ae;
}